 main {
    max-width: 60%;
    margin:auto;
    width: 50%;
}


.container {background-color: rgb(204, 203, 203);}


h1 {color:black;
    font-weight: bold;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
padding-top: 5px;}

header {
font-style: strong;
text-align: center;
background-color: cornsilk;
}

.row {border-bottom: 0.5px solid gray;}

.col-sm-4 {text-align: right;
border-right: 0.5px solid gray;}
 
.section {color: blue;
background-color: cornsilk;}


p {font-family: Arial, Helvetica, sans-serif;
padding: none;}

h2 {font-size: 20px;
text-align: left;
padding-left: 5px;}

img {display: block;
    margin-left: auto;
    margin-right: auto;}