 main {
    max-width: 60%;
}

div {border: 3px solid black;}

.container {background-color: cornsilk;}

h1 {color:purple;}

header {
font-style: strong;
text-align: center;
background-color: cornsilk;
}

 
.section {color: blue;
background-color: cornsilk;}


p {padding-left: 10px;}

h2 {font-size: 20px;
text-align: left;
padding-left: 5px;}

nav {border: 3px solid black;}